<div>
    <div class="sub-label"> <a href="http://tools.ietf.org/html/rfc7230#section-3.3" target="_blank">Body</a> </div>
    <div class="b-container">
        <table class="html-form-body form-horizontal">
            <tbody>
                <tr>
                    <td>
                        <label class="checkbox" for="gwt-uid-882" title="Enable/Disable">
                                <input type="checkbox" value="on" id="gwt-uid-882" tabindex="0" checked="">
                                <span></span>
                                </label>
                    </td>
                    <td>
                        <span class="expression-input input-append">
                                  <input type="text" class="form-control item-name" id="gwt-uid-883" placeholder="name">
                                  <span class="add-on" title="Expression builder">
                                    <i class="icon-magic"></i>
                                    </span>
                        </span>
                    </td>
                    <td>[</td>
                    <td><select class="form-control item-type" title="Item Type">
                                  <option value="Text">Text</option>
                                  <option value="File">File</option></select>
                    </td>
                    <td>]</td>
                    <td>=</td>
                    <td class="value">
                        <div class="file-selector item-value file-value">
                            <button class="btn btn-default btn-sm">
                                      <label for="gwt-uid-885">Choose a file...</label>
                                      </button>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-link btn-sm" title="Remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>


                <tr>
                    <td>
                        <label class="checkbox" for="gwt-uid-886" title="Enable/Disable">
                                    <input type="checkbox" value="on"  tabindex="0" checked="">
                                    <span></span>
                                    </label>
                    </td>
                    <td>
                        <span class="expression-input input-append">
                                      <input type="text" class="form-control item-name"  placeholder="name">
                                      <span class="add-on" title="Expression builder">
                                        <i class="icon-magic"></i>
                                        </span></span>
                    </td>
                    <td>[</td>
                    <td>
                        <select class="form-control item-type" title="Item Type">
                                      <option value="Text">Text</option>
                                      <option value="File">File</option>
                                    </select>
                    </td>
                    <td>]</td>
                    <td>=</td>
                    <td class="value">
                        <span class="expression-input input-append">
                                      <input type="text" class="form-control item-value"  placeholder="text">
                                      <span class="add-on" title="Expression builder">
                                        <i class="icon-magic"></i>
                                        </span></span>
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-link btn-sm" title="Remove">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group html-btn-group-r">
            <a href="javascript:;" class="btn btn-small btn-link" title="Remove All Items">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="btn-group html-btn-group">
            <a href="javascript:;" class="btn btn-add btn-small btn-link" title="Add New Item">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
            <a href="javascript:;" class="btn btn-sort btn-small btn-link" title="Sort Items">
                <i class="glyphicon glyphicon-sort"></i>
            </a>
        </div>
    </div>
</div>