<div>
    <div class="sub-label">
        <a href="http://tools.ietf.org/html/rfc7230#section-3.2" target="_blank">Headers</a>
    </div>
    <div class="h-container">
        <div class="headers-form">
            <div class="headers-ui-editor">
                <label for="" class="header-b">
                                          <input type="checkbox" checked>
                                        </label>
                <span class="expression-input header-name">
                                          <input type="text" class="form-control" placeholder="name">
                                        </span>
                <span>:</span>
                <span class="expression-input header-value">
                                          <input type="text" class="form-control" placeholder="value">
                                        </span>
                <a href="javascript:;" class="btn btn-sm btn-link" title="Remove"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <div class="btn-group buttons"><a href="javascript:;" class="btn btn-link btn-sm" title="Add New Header"><i class="glyphicon glyphicon-plus"></i></a><a href="javascript:;" class="btn btn-sm btn-link" title="Sort Headers"><i class="glyphicon glyphicon-sort"></i></a></div>
            <div class="btn-group set-auth-link"><a href="javascript:;" class="btn btn-link"><i class="glyphicon glyphicon-wrench"></i> set an authorization </a></div>
            <div class="btn-group buttons-r"><a href="javascript:;" class="btn btn-sm btn-link" title="Remove All Headers"><i class="glyphicon glyphicon-trash"></i></a></div>
        </div>
    </div>
</div>