/* You can add global styles to this file, and also import other style files */

$icon-font-path: "./assets/fonts/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
//format
* {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "PingFang SC", "SimHei", "宋体", "Arial Unicode MS";
    font-size: 14px;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #eaeaea !important;
}

span,
i,
em {
    display: block;
}

// Fix for warning with electron - see https://github.com/electron/electron/issues/4420
 ::selection {
    background: rgba(255, 255, 125, 0.99);
}