<div class="response-pane pane clearfix">
    <div class="pane-head-ng">
        <span>Response</span>
        <div class="response-time">
            <span class="el-time">
                                        <a href="http://tools.ietf.org/html/rfc7234" target="_blank" class="remote-cache">
                                        Cache Detected
                                        </a>  -  
                                    <span title="1.1s">Elapsed Time: 1.1s</span></span>
        </div>
    </div>
    <ng-content select="div"></ng-content>
</div>